@charset "utf-8";
#redBox {
	background-color: #c30;
	height: 50px;
	
	img{max-width 100%;
	width:100%;}
}
#picture{background-color:#9f9;
}

#picture2{display:none;}



.grid_1 {
	width: 6.5%;   /*width: 65px;*/
}
.grid_2 {
	width: 15%;  /*width: 150px;*/
}
.grid_3 {
	width: 23.5%;  /*width: 235px;*/
}
.grid_4 {
	width: 32%;  /*width: 32px;*/
}
.grid_5 {
	width: 40.5%;  /*width: 405px;*/
}
.grid_6 {
	width: 49%;  /*width: 490px;*/
}
.grid_7 {
	width: 57.5%;  /*width: 575px;*/
}
.grid_8 {
	width: 66%;  /*width: 660px;*/
}
.grid_9 {
	width: 74.5%;  /*width: 745px;*/
}
.grid_10 {
	width: 83%x;  /*width: 830px;*/
}
.grid_11 {
	width: 91.5%;  /*width: 915px;*/
}
.grid_12 {
	width: 100%;  /*width: 1000px;*/
}

.grid_1,  .grid_2,  .grid_3,  .grid_4,  .grid_5,  .grid_6,  .grid_7,  .grid_8,  .grid_9,  .grid_10,  .grid_11,  .grid_12 {
	margin :0 2% 1% 0;
	float: left;
	display:block;
}
.alpha {
	margin-left:0px;
}
.omega {
	margin-right:0px;
}
#container {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	}

.clear {
	clear:both;
	display:block;
	overflow: hidden;
	visibility: hidden;
	width:0;
	Height: 0;
}
.clearfix:after {
	clear:both;
	content:'';
	display: block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	Height:0
}


@media only screen and (max-width: 768px) {
	
	#picture{display:none;
}

#picture2{display:inline-block;}

#redBox {
	background-color: #00F;
	height: 50px;
}
}

@media only screen and (max-width: 480px) {
	
	#picture{display:none;
}

#picture2{display:none;}

#redBox {
	background-color: #090;
	height: 50px;
}

.grid_1,  .grid_2,  .grid_3,  .grid_4,  .grid_5,  .grid_6,  .grid_7,  .grid_8,  .grid_9,  .grid_10,  .grid_11,  .grid_12 {
width: 100%;
}
}
